<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am Chun “Mook” Kim. You can just call me “Mook”.
            </p>
            <p class="paragraph-text justify-text">
                I’m a student at DIGIPEN institute of technology and I will graduate in April 2023.
            </p>
            <p class="paragraph-text justify-text">
                Before coming to DIGIPEN, I majored in chemical engineering at Keimyung university for one year, and I change my mind to go DIGIPEN’s CS-RTIS (Computer science in Real-Time interactive simulation) because I’m interested and saw the possibilities of programming, game, and computer graphics.
            </p>
            <p class="paragraph-text justify-text">
                So far, I got experience in game development with Unreal and Unity engine and ray tracing pipeline during academic projects, and I got experience about build rendering tech demos with various graphics API, OpenGL, Vulkan, and DX12 during personal projects.
            </p>
            <p class="paragraph-text justify-text">
                Now, programming is my hobby and my profession.
            </p>
            <p class="paragraph-text justify-text">
                After graduating, I want to learn something more with more people and diverse people as a graphics programmer.
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
